header {
    display: flex;
    background: cornflowerblue;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.cart-button {
    
    width: 50px;
}

main {
    background: darkorange;
}


.goods-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex-basis: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background: lavender;
    border-radius: 5px;
}
.add-btn {
    width: 60%;
    display: inline-block;
    border-radius: 20px;
    border-color: transparent;
    background: navy;
    padding: 5px 0;
    color: #fff;
    align-self: center;

}

.cart__goods-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}